.blog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .blog {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: start;
  justify-items: center;
}

@media (min-width: 768px) {
  .post {
    max-width: 80rem;
    margin: 3rem auto 0 auto;
  }
}

.post .contenido {
  padding: 1.5rem;
}

.post .contenido h3 {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 900;
}

.post .contenido .fecha {
  font-size: 1.4rem;
  color: var(--primary);
}

.post .contenido .resumen {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.post .contenido .texto {
  white-space: pre-wrap;
}
